name: Latest blog posts
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://rsshub.app/zhihu/posts/fan-jing-wen-56-46"
          max_post_count: 5
          template: "- [$title]($url) ($date)"
          date_format: "yyyy-MM-dd"
